<?xml version="1.0"?>
<configuration>
	<configSections>
	</configSections>
	<connectionStrings>
  <add name="Argix.Finance.Settings.TSortR" connectionString="data source=RGXVMSQLR;initial catalog=TSORTR;persist security info=True;user id=sa;password=objects;packet size=4096;Connect Timeout=30" />
 </connectionStrings>
	<startup/></configuration>
