<?xml version="1.0"?>
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
  <appSettings/>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <authentication mode="None"/>
    <sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" cookieless="false" timeout="20"/>
    <globalization requestEncoding="utf-8" responseEncoding="utf-8"/>
    <customErrors mode="Off" defaultRedirect="~/Error.aspx"/>
    <pages styleSheetTheme="Argix" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IImagingService" maxReceivedMessageSize="8192000">
          <readerQuotas maxDepth="8192000" maxStringContentLength="8192000" maxArrayLength="8192000" maxBytesPerRead="8192000" maxNameTableCharCount="8192000"/>
          <security mode="None"/>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:51231/Imaging.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IImagingService" contract="Argix.Enterprise.IImagingService" name="WSHttpBinding_IImagingService"/>
    </client>
  </system.serviceModel>
</configuration>